<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <%- include partials/_header %>
  
  <% if (user === undefined) { %>
   <p>Please Login or Register </p>
  <% } else { %>  
  <!-- create new url --> 
  <form method="GET" action="/urls/new">
    <input type="submit" value="Add URL">
  </form>
  <% } %>

  <!-- display all urls --> 
  <ul>
  <% for (let shortURL in urls){ %>
    <li style="display:inline;">
      <a href='/u/<%= shortURL %>/'><%= shortURL %></a> <%= ` -->  ${urls[shortURL].url} ` %>
      
      <!-- edit url -->
      <form method="GET" action="/urls/<%= shortURL %>">
        <input type="submit" value="Edit">
      </form>

      <!--delete specific URL from urlDatabase-->
      <form method="POST" action="/urls/<%= shortURL %>/delete">
        <input type="submit" value="Delete">
      </form>
    
    </li>
  <% } %>
</ul>

</body>
</html>
